repos:
- repo: https://github.com/gitleaks/gitleaks
  rev: v8.30.0
  hooks:
  - id: gitleaks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: end-of-file-fixer
  - id: trailing-whitespace
  - id: check-yaml
  - id: check-json
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=1000']
  - id: mixed-line-ending
  - id: detect-private-key
- repo: local
  hooks:
  - id: eslint
    name: eslint
    entry: pnpm exec eslint --fix
    language: system
    types: [javascript, jsx, ts, tsx, vue]
    pass_filenames: true
