name: Lighthouse
permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4
        with:
          version: '10.26.0'

      - uses: actions/setup-node@v4
        with:
          node-version: '24.12.0'
          cache: 'pnpm'

      - run: pnpm install --frozen-lockfile

      - name: Build website
        run: pnpm docs:build

      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v11
        with:
          configPath: './lighthouserc.json'
          uploadArtifacts: true
          temporaryPublicStorage: true
